body {
    background-color: slategray;
}

button {
    border-radius: 15px;
    border: none;
    background-color: #28282B;
    color: white;
    width: 60px;
    height: 60px;
}

.screen {
    height: 70px;
    background-color: #36454F;
    border-radius: 10px;
    margin: 6px;
    flex-wrap: wrap;
    max-width: 268px;
}


.display {
    display: flex;
    justify-content: flex-end;
    padding: 6px;
    color: white;
    font-size: 30px;
    align-items: flex-end;
    font-weight: bold;
    flex-wrap: wrap;
    max-width: 268px;
}


.main {
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.main_but {
    width: 80px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.calculator {
    display: flex;
    border-radius: 10px;
    flex: auto;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    margin: auto;
    width: 280px;
    height: 420px;
    margin-top: 100px;
    background-color: #36454F;
}
